[Unit]
Description=Modbus Gateway
After=network-online.target
Wants=network-online.target

[Service]
User=debix
Group=debix
Restart=always
WorkingDirectory=/home/debix/gateway
ExecStart=/home/debix/gateway/mqtt_client.py
TimeoutStartSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
