[Unit]
Description=Modbus Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --rm --name %n \
	--device=/dev/ttymxc3:/dev/ttymxc3 \
	modbus:test

[Install]
WantedBy=multi-user.target
